body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin: 10px 0;
}